@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 
*{
    margin: 0;
    padding: 0;
}
/* Genel Stil */
 body {
  background-color: #f4f4f4 !important;
  font-family: Arial, sans-serif;
  }
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#272727;
  }
  .logo {
    height: 70px;
  }
  .navbar {
    position: relative;
  }
  .nav {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .nav-item {
    position: relative;
  }
  .menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: #f2f2f2;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f2f2f2;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    z-index: 1000;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
  }
  .dropdown-item {
    padding: 20px 25px ;
    border-bottom: 1px solid #080808;
    transition: background-color 0.3s, color 0.3s;
  }
  .dropdown-item:hover {
    background-color:#272727 !important;
    color:#ffe500 !important;
  }
  .dropdown-menu h6 {
   margin: 0;
    color:#ffe500;
    padding: 10px 20px;
    background-color:#272727;
  }
/* carusel start */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Karuselin ekran yüksekliğine göre ortalanması */
  padding: 0; /* Sağ-sol kenar boşlukları ekleyelim */

}
.carousel.slide { 
  max-width: 600px; /* Karuselin maksimum genişliği */ 
  width: 100%; /* Genişlik tam olarak esnek olur */ 
  height: 400px; /* Karuselin yüksekliği */ 
  margin: 0 auto; /* Ortalamayı sağlamak için margin merkezi ayarladık */
  margin-bottom: 0; 
  box-sizing: border-box; /* CSS Box modeliyle çalışma */ 
}
.carousel-item img {
  width: 100%; /* Görsel genişliği ayarladık */
  height: auto; /* Yüksekliği otomatik yaparak oranı koruduk */
  object-fit: cover; /* Resmin içerik alanını doldurmasını sağladık */
  max-width: 600px; /* Maksimum genişlik sınırlaması */
  max-height: 400px; /* Maksimum yükseklik sınırlaması */
}

/* Büyük ekranlar (PC) için */
@media (min-width: 1024px) {
  .carousel.slide {
    width: 80%;
  }
}

/* Tabletler için */
@media (max-width: 1023px) and (min-width: 768px) {
  .carousel.slide {
    width: 85%;
  }
}

/* Telefonlar için */
@media (max-width: 767px) {
  .carousel.slide {
    width: 90%;
    height: auto;
    margin: auto;
  }
}
/* Çok küçük ekranlar için */
@media (max-width: 450px) {
  .carousel.slide {
    width: 95%;
    height: auto;
    margin: auto;
  }
}
 /* carusel end */

/* Çizgi Ayırıcı */
.divider {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}
/* Hakkımızda Bölümü start */
 h1{
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 1px;
  text-align: center;
}
.about-section {
  padding: 60px 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Görsel ve metin arasındaki boşluk */
}

.image-container, .text-container {
  flex: 1 1 45%; /* Elemanların genişliği, ekran boyutuna göre ayarlanır */
}

.text-container {
  text-align: left; /* Metni sola hizalar */
}

.about-section p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.image-container img {
  max-width: 100%;
  border-radius: 8px;
  border: 2px solid #ddd;
}
/* Büyük ekranlar için (masaüstü bilgisayarlar) */
@media (min-width: 1025px) {
  .content {
      flex-direction: row; /* İçeriği yatay hizala */
  }

  .image-container {
      order: 1; /* Resmi sola al */
  }

  .text-container {
      order: 2; /* Metni sağa al */
  }
}

/* Orta ekranlar için (tabletler) */
@media (min-width: 601px) and (max-width: 1024px) {
  .content {
      flex-direction: row; /* İçeriği yatay hizala */
  }

  .image-container {
      order: 1; /* Resmi sola al */
  }

  .text-container {
      order: 2; /* Metni sağa al */
  }

  .about-section p {
      font-size: 17px; /* Metin boyutunu biraz küçült */
  }
}

/* Küçük ekranlar için (770 piksel ve altı) */
@media (max-width: 600px) {
  .content {
      flex-direction: column; /* İçeriği dikey hizala */
  }

  .image-container {
      order: 1; /* Resmi üste al */
  }

  .text-container {
      order: 2; /* Metni alta al */
  }

  .image-container img {
      margin-bottom: 20px; /* Görselin altına boşluk ekle */
  }

  .about-section p {
      font-size: 16px; /* Metin boyutunu küçült */
  }
}
/* Hakkımızda Bölümü end */

/* Çizgi Ayırıcı */
.divider {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 20px 0;
}
/* galeri start */
h1{
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 1px;
  text-align: center;
}
.gallery-section {
  text-align: center;
  padding: 20px;
}

.image-row {
  display: flex;
  flex-wrap: wrap; /* Ekran boyutuna göre sarma işlemi */
  justify-content: center;
  margin-bottom: 20px;
}

.image-box {
  margin: 10px; /* Resimler arasındaki boşluk */
  cursor: pointer; /* Fare imlecini el şeklinde yapar */
  transition: transform 0.3s ease-in-out; /* Geçiş animasyonu */
  flex: 1 1 30%; /* Her resmin genişliğini %30 ayarlar */
  box-sizing: border-box; /* Padding ve border'ı genişlik hesabına dahil eder */
}

.image-box img {
  width: 90%; /* Resmin konteynerin tamamını kaplamasını sağlar */
  border: 2px solid #ddd; /* Kenarlık ekler */
  border-radius: 8px; /* Köşeleri yuvarlar */
}

.image-box:hover img {
  transform: scale(1.05); /* Hover sırasında resmi büyüt */
  transition: transform 0.3s ease-in-out; /* Geçiş animasyonu */
}
/* galeri end */

/* footer start */
.footer {
  background-color: #333; /* Footer arka plan rengi */
  color: #f2f2f2; /* Footer yazı rengi */
  padding: 20px 0;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center; /* Yatay olarak merkezler */
  margin-top: 10px; /* Üstten boşluk bırakır */
}

.social-media a {
  margin: 0 10px; /* İkonlar arasında boşluk bırakır */
}

.social-media i {
  font-size: 40px; /* İkonların boyutu varsayılan */
  color: #fff; /* İkonların rengi */
  transition: font-size 0.3s ease-in-out; /* Geçiş animasyonu */
}

/* Küçük ekranlar için (mobil cihazlar) */
@media (max-width: 600px) {
  .image-box {
      flex: 1 1 100%; /* Küçük ekranlarda her resim tam genişlik kaplar */
  }

  .social-media i {
      font-size: 30px; /* Küçük ekranlarda ikonların boyutu */
  }
}

/* Orta ekranlar için (tabletler) */
@media (min-width: 601px) and (max-width: 1024px) {
  .image-box {
      flex: 1 1 48%; /* Orta ekranlarda her resim yarım genişlik kaplar */
  }

  .social-media i {
      font-size: 35px; /* Orta ekranlarda ikonların boyutu */
  }
}

/* Büyük ekranlar için (masaüstü bilgisayarlar) */
@media (min-width: 1025px) {
  .image-box {
      flex: 1 1 30%; /* Büyük ekranlarda her resim üçte bir genişlik kaplar */
  }

  .social-media i {
      font-size: 40px; /* Büyük ekranlarda ikonların boyutu varsayılan */
  }
}

.footer {
  background-color: #3f3e3e; /* Footer arka plan rengi */ 
  color: #fff; /* Footer yazı rengi */ 
  padding: 20px 0; text-align: center; 
}
.social-media { 
  display: flex; 
  justify-content: center; /* Yatay olarak merkezler */ 
  margin-top: 10px; /* Üstten boşluk bırakır */ 
} 
.social-media a { 
  margin: 0 10px; /* İkonlar arasında boşluk bırakır */ 
} 
.social-media i {
  font-size: 25px; /* İkonların boyutu */ 
  color: rgb(187, 187, 184); /* İkonların rengi */
}
.social-media img {
  max-width: 30px; /* Sosyal medya ikonlarının boyutu */
}
.social-media i.bi-facebook:hover {
  color: #031f5c !important; /* Facebook */
  transition: color 0.3s ease;
}

.social-media i.bi-youtube:hover {
  color: #ff0000 !important; 
  transition: color 0.3s ease;
}

.social-media i.bi-instagram:hover {
  color: #c20443 !important; /* Instagram */
  transition: color 0.3s ease;
}

.social-media i.bi-tiktok:hover {
  color: #000 !important; 
  transition: color 0.3s ease;
}
.footer-bottom {
  margin-top: 10px;
}

.company-name {
  color: #ffe500; /* Şirket adı rengi: Kırmızımsı turuncu (Tomato) */
}
#whatsapp-button {
  position: fixed;
  bottom: 20px; /* Ekranın altından 20 piksel boşluk */
  right: 20px;  /* Ekranın sağından 20 piksel boşluk */
  z-index: 1000; /* Butonun diğer öğelerin üstünde görünmesi için */
}

#whatsapp-button i.bi-whatsapp {
  font-size: 60px; /* İkon boyutu varsayılan */
  color: #088a37; /* WhatsApp yeşil rengi */
  cursor: pointer;
}

#whatsapp-button i.bi-whatsapp:hover {
  color: #55e788; /* Hover rengi: Hafif koyulaşmış yeşil */
  transition: color 0.3s ease;
}

/* Küçük ekranlar için (mobil cihazlar) */
@media (max-width: 600px) {
  #whatsapp-button i.bi-whatsapp {
    font-size: 40px; /* Küçük ekranlarda ikon boyutu */
  }
}

/* Orta ekranlar için (tabletler) */
@media (min-width: 601px) and (max-width: 1024px) {
  #whatsapp-button i.bi-whatsapp {
    font-size: 50px; /* Orta ekranlarda ikon boyutu */
  }
}

/* Büyük ekranlar için (masaüstü bilgisayarlar) */
@media (min-width: 1025px) {
  #whatsapp-button i.bi-whatsapp {
    font-size: 60px; /* Büyük ekranlarda ikon boyutu varsayılan */
  }
}

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4; /* Arkaplan rengi, tercihinize göre değiştirebilirsiniz */
  min-height: 100vh; /* Tüm ekran yüksekliğini kaplaması için */
  position: relative;
}

.snowflakes {
  position: fixed; /* Sayfa boyunca sabit */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ekran yüksekliğinin tamamı */
  overflow: hidden;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  top: -10px; /* Ekranın biraz üstünden başlat */
  color: white;
  font-size: 1em;
  user-select: none;
  z-index: 1000;
  will-change: transform;
  animation: fall linear infinite; /* Düşme animasyonu */
}

@keyframes fall {
  0% {
      transform: translateY(0); /* Başlangıç pozisyonu */
  }
  100% {
      transform: translateY(100vh); /* Ekranın en altına kadar in */
  }
}
.snowflake:nth-child(1) { left: 10%; animation-duration: 10s; animation-delay: 0s; font-size: 1.2em; }
.snowflake:nth-child(2) { left: 20%; animation-duration: 8s; animation-delay: 2s; font-size: 1.1em; }
.snowflake:nth-child(3) { left: 30%; animation-duration: 12s; animation-delay: 4s; font-size: 1.3em; }
.snowflake:nth-child(4) { left: 40%; animation-duration: 9s; animation-delay: 0s; font-size: 1.4em; }
.snowflake:nth-child(5) { left: 50%; animation-duration: 11s; animation-delay: 3s; font-size: 1.1em; }
.snowflake:nth-child(6) { left: 60%; animation-duration: 10s; animation-delay: 5s; font-size: 1.2em; }
.snowflake:nth-child(7) { left: 70%; animation-duration: 9s; animation-delay: 2s; font-size: 1.3em; }
.snowflake:nth-child(8) { left: 80%; animation-duration: 11s; animation-delay: 4s; font-size: 1.4em; }
.snowflake:nth-child(9) { left: 90%; animation-duration: 10s; animation-delay: 6s; font-size: 1.2em; }

/* kar yağışı end*/
/* footer start */
.footer-links { 
  display: flex; 
  justify-content: center; 
  gap: 30px; /* Boşluk eklemek için aradaki boşluk miktarını ayarlayın */ 
  margin-top: 10px; 
} 
.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px; /* Boşluk eklemek için aradaki boşluk miktarını ayarlayın */
  margin-top: 10px;
}

.footer-links a {
  color: #f2f2f2; /* Tüm bağlantıların varsayılan rengi */
  text-decoration: none;
  font-size: 1em;
}

/* Özel seçicilerle Ana Sayfa ve e-posta bağlantılarının rengini değiştir */
.footer-links a[href="mailto:ilzalife@ilzalife.com"] {
  color: #f2f2f2; /* İstediğiniz renkle değiştirin */
}

.footer-links a[href="#Carousel"] {
  color: #f2f2f2; /* İstediğiniz renkle değiştirin */
}

.footer-links a:hover {
  color: #ffe500;
}

.footer-bottom {
  margin-top: 20px;
}

    /* footer end */